:root {
    font-family: "Inter", sans-serif;
    --secondary: #ED398C;
}

/* Global stlyes */
html {
    scroll-behavior: smooth;
}

h1 {
    font-size: 2.5rem;
    font-weight: 700;
}

h2 {
    font-size: 2rem;
    font-weight: 700;
}

p {
    line-height: 170%;
    color: #303030;
}

button {
    width: 14.75rem;
    height: 2.94rem;
    background: #000000;
    border-radius: 4px;
    border: none;
    color: white;
    transition: .2s linear;
}

button:hover {
    background-color: var(--secondary);
    cursor: pointer;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.page-container {
    padding: 2rem 7rem 0 7rem;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
    padding: 2rem 4rem 1rem 4rem;
}

#logo {
    width: 11.5rem;
}

nav ul {
    display: flex;
    gap: 2.5rem;
}

nav ul a {
    font-weight: 600;
}

nav ul a:hover {
    color: var(--secondary);
}

#nav-rectangle {
    height: 5px;
    background-color: black;
    border-radius: 8px;
}

#navbar-container {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    background-color: white;
}

#social-icons {
    display: flex;
    align-items: center;
    gap: .6rem;
}

.social-icon {
    width: 32px;
    height: 32px;
    display: inline-block;
}

.youtube {
    width: 38px;
    height: 38px;
}
/* End of global styles */

/* Keyframes */
@keyframes float {
    0% {
        transform: translateY(0)
    }

    50% {
        transform: translateY(20px);
    }

    100% {
        transform: translateY(0);
    }
}

/* Home Page */

header {
    margin-top: 8.5rem;
    display: flex;
    justify-content: center;
    gap: 10rem;
}

#header-content {
    max-width: 29.5rem;
}

header #categories {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
}

header .category p {
    font-weight: 700;
}

header .category img {
    width: 3.75rem;
    height: 3.75rem;
    border-radius: 50%;
    box-shadow: 0px 4px 4px 2px rgba(0, 0, 0, 0.25);
    transition: .1s ease-out box-shadow;
    transition: .4s ease-out transform;
}

header .category img:hover {
    box-shadow: 0px 0px 11px 2px #ED398C;
    cursor: pointer;
    transform: rotate(-360deg);
}

#header-img img{
    max-width: 43.31rem;
    height: 23.31rem;
    margin-top: -3rem;
    animation: 7s float forwards infinite;
    transition: .5s;
}

#header-img img:hover {
    scale: 1.1;
}

#carlsbad-info {
    margin-top: 6rem;
    display: flex;
    gap: 9.625rem;
}

#carlsbad-img img {
    width: 27.31rem;
    height: 23.44rem;
}

#carlsbad-text {
    text-align: right;
}

#make-your-drink {
    margin-top: 8.75rem;
    padding: 2rem;
    max-width: 100%;
    min-height: 23rem;
    background: linear-gradient(180deg, #FCC361 0%, #ED398C 97.93%);
    border-radius: 8px;
    display: grid;
    place-items: center;
    color: white;
}

#make-your-drink p {
    color: white;
}

#weather-section{
    margin-top: 6rem;
    margin-bottom: 5rem;
    display: grid;
    place-items: center;
    text-align: center;
}

#current-weather-card {
    width: 16.38rem;
    height: 13.5rem;
    background-image: url("../images/weather.png");
    box-shadow: 0px 1px 40px -2px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.38rem;
}

#current-weather-card #temperature {
    font-weight: 700;
    font-size: 3rem;
    color: white;
}

#current-weather-card #description, #current-weather-card #humidity {
    font-weight: 500;
    font-size: 1.125rem;
    color: white;
}

#three-day-weather-forecast {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3.75rem;
    text-align: left;
    margin-top: 3rem;
}

.forecasts {
    border-bottom: 1px solid #ED398C;
    text-align: left;
}

.forecasts h5 {
    font-weight: 600;
    font-size: 15px;
    color: #999;
}

.forecasts p {
    font-weight: 600;
    font-size: 15px;
    margin-top: -1rem;
}

footer {
    height: 22.44rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1E1E1E; 
    color: white;
    padding-top: 4.25rem;
}

footer #site-map {
    font-size: 1.125rem;
    margin-top: 2rem;
}

#site-map {
    text-align: center;
}

#site-map span {
    font-weight: 500;
}

#site-map ul {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    margin-top: 1rem;
}

#site-map ul li, footer #page-info {
    font-weight: 300;
    color: #737373;
}

#site-map ul li:hover {
    color: white;
    cursor: pointer;
}

footer #page-info {
    font-size: 14px;
    margin-top: 3.19rem;
}

/* Fresh page */
#fresh-main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 8rem;
    margin-bottom: 5rem;
}

form {
    padding-right: 2rem;
}

.form-field, .form-field input, textarea {
    width: 100%;
}

.form-field {
    margin-bottom: 2rem;
}

#fruit-options {
    display: flex;
    gap: 1rem;
}

#fruit-options select {
    width: 100%;
    height: 44px;
    background: #FFFFFF;
    box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.25);
    border: none;
    padding: 0 1rem;
}


input {
    border: none;
    border-bottom: 1px solid #ED398C;
    height: 36px;
}

textarea {
    height: 10rem;
    border: none;
    box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.25);
    padding: 1.25rem;
}

/* About us page */
#about-main-container {
    margin-top: 10rem;
    margin-bottom: 5rem;
}

#about-main-container ul {
    display: flex;
    flex-direction: column;
    gap: .6rem;
}

/* Attribution page */
#attribution-main-container {
    margin-top: 9rem;
    min-height: 50vh;
}

#attribution-main-container ul {
    display: flex;
    flex-direction: column;
    gap: .6rem;
}

#google-maps {
    height: 300px;
    width: 100%;
}

/* Hamburger Navbar */
.nav-items.hamburger {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 2rem;
    list-style: none;
    padding-right: 4rem;
    padding-top: 6rem;
    height: 100vh;
}

.nav-items.hamburger a {
    font-size: 1.7rem;
    color: white;
    transition: .1s linear all;
    border-bottom: 1px solid #ED398C;
    width: 30%;
    text-align: right;
}

.nav-items.hamburger a:hover {
    color: #ED398C;
}

#hamburger-btn {
    display: none;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
}

.hamburger-menu {
    height: 100vh;
    width: 100vh;
    z-index: 1;
    position: absolute;
    right: 0;
    transform: translateX(12rem);
    padding-top: 1rem;
    display: none;
}

.hamburger-menu.open {
    display: block;
    min-height: 100vh;
    background-color: black;
    z-index: 1;
    position: absolute;
    right: 0;
    animation: slidein-right .3s forwards;
}

@keyframes slidein-right {
    to {
        transform: translateX(0);
    }
}

.hamburger-menu #close-hamburger-menu-btn {
    color: white;
    background-color: #ED398C;
    margin: 1rem;
    padding: .5rem;
    width: 25px;
    height: 25px;
    border-radius: 4px;
    margin-left: 3rem;
    position: absolute;
    right: 3rem;
}

.hamburger-menu #close-hamburger-menu-btn:hover {
    cursor: pointer;
}